@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Kollektif";
    src: url("/fonts/Kollektif.ttf") format("truetype");
}

@font-face {
    font-family: "Kollektif-Italic";
    src: url("/fonts/Kollektif-Italic.ttf") format("truetype");
}


body {
    font-family: 'Kollektif', sans-serif; /* Apply Kollektif font to the entire page */
}

@keyframes strikeThrough {
    0% { text-decoration-color: transparent; }
    100% { text-decoration-color: black; }
}

@layer base {
    body {
        @apply bg-neutral-100 text-neutral-800 dark:bg-neutral-900 dark:text-neutral-200
    }
    p {
        @apply italic
    }
    section {
        @apply p-[20px] rounded shadow flex-1 m-[10px] max-w-[300px]
    }
    form div,
    form input,
    form button {
        @apply mb-[10px]
    }
}

@layer components {
    .slider {
        @apply absolute cursor-pointer top-0 left-0 right-0 bottom-0
        bg-neutral-300 dark:bg-neutral-700 transition-all rounded-full
    }
    .slider:before {
        content: "";
        @apply absolute bg-neutral-100 dark:bg-neutral-500 transition-all rounded-full
        h-[20px] w-[20px] left-[2px] bottom-[2px]
    }
    input:checked + .slider:before {
        @apply transform translate-x-[26px]
    }
    .emoji {
        @apply absolute top-[2px] right-[5px] text-[18px] mr-[50px]
        mb-[10px]
    }
    .btn {
        @apply bg-neutral-900 text-white px-8 py-2 rounded dark:bg-neutral-100 dark:text-black
    }
    .container {
        @apply flex justify-around w-full max-w-[1200px] mt-[20px]
    }
    .home-title {
        @apply text-[75px] text-center text-gray-800 absolute top-[40%] left-1/2
        opacity-50 transition-opacity duration-1000 ease-in transform
        translate-x-[-50%] translate-y-[-50%] hover:opacity-100 hover:line-through
    }
    .home-title .fade-in {
        @apply opacity-100 /* <--- not sure we need this */
    }
    .home-title .strike-through {
        animation: strikeThrough 2s forwards;
        @apply line-through
    }
    .home-subtext {
        font-family: "Roboto", sans-serif;
        @apply text-gray-500 absolute top-[53%] left-1/2 text-center text-[20px]
        tracking-[0.075rem] transform translate-x-[-50%] translate-y-[-50%]
    }
    .fade-out {
        @apply opacity-0 transition-opacity duration-500 ease-in
    }
    #checkInButton {
        font-family: "Roboto", sans-serif;
        @apply absolute bottom-[32%] left-1/2 transform -translate-x-1/2
        tracking-[0.075rem] text-[17px] px-[20px] py-[10px] rounded
    }
    #tasks li {
        @apply mb-[5px]
    }
    #tasks li span {
        @apply inline-block w-full p-[5px] rounded bg-neutral-200 shadow
        dark:bg-neutral-800 z-10
    }
    #tasks li span:before {
        content: attr(data-status);
        @apply mr-[10px]
    }
    #start-time {
        @apply bg-neutral-200
    }
    #main-menu {
        @apply bg-rose-200
    }
    #generate-quiz {
        @apply bg-amber-200
    }
}

.trash-icon{
    margin-right: 10px;
    cursor: pointer;
}